* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  user-select: none;
}
header {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
footer {
  background-image: url("../imgs/out.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  height: 80px;
  z-index: 1;
}
.list ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.navbar img {
  height: 70px;
  display: flex;
  align-items: end;
}
.list ul a {
  color: white;
  font-size: large;
  font-family: Cairo;
}
.list ul a:hover {
  color: yellow;
  border-bottom-color: yellow;
  border-bottom-style: solid;
}
.container {
  width: 80%;
  margin: auto;
}
.above-all-burgers {
  margin-top: 300px;
  height: 100%;
  width: 50%;
}
.headerimg {
  display: flex;
}
.ebra {
  width: 62%;
  height: 30%;
}
.welcoming {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  color: white;
  margin-top: 90px;
  font-family: cairo;
}
.words {
  text-align: right;
  width: 500px;
  font-size: x-large;
  margin-top: 100px;
}
.adress {
  font-size: 50px;
  margin-bottom: 20px;
  border-bottom-color: yellow;
  border-bottom-style: solid;
  border-bottom-width: 10px;
}
.adressexplainp {
  font-size: larger;
}
.burgerguy {
  width: 80%;
  height: 100%;
  animation-name: moveUpDown;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  box-shadow: -20px 30px yellow;
}
.vision {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 90px;
  font-family: cairo;
}
.twoburgerguy {
  width: 120%;
  height: 120%;
  animation-name: rightandleft;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin-top: -180px;
}
.visionimg {
  width: 500px;
  margin-top: 100px;
}
.footerlist {
  text-align: right;
}
.footerlist li {
  margin-bottom: 30px;
}
.footerlist ul {
  padding-top: 40px;
  list-style-type: none;
  gap: 50px;
  display: flex;
  flex-direction: row;
}
.footerlist ul a {
  color: gold;
  font-size: larger;
  text-shadow: 50px;
}
.footerlogo {
  height: 100px;
  box-shadow: 0 0 10px 10px rgb(250, 218, 7);
}
.facebook {
  height: 50px;
  transform: translateY(0);
  transition-duration: 2s;
}
.instagram {
  height: 50px;
  transform: translateY(0);
  transition-duration: 2s;
}
.findushere {
  margin-top: 50px;
  color: white;
  text-transform: uppercase;
}
.instagram:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.facebook:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
@keyframes rightandleft {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
}
